* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgb(50, 50, 51);
    padding: 5%;
    color: white;
}

.menu {
    display: flex;
}

.menu a {
    border-style: solid;
    color: black;
    height: 45px;
    background: rgba(255, 255, 255, 0.25);
    padding: 10px 30px;
    box-sizing: border-box;
    cursor: pointer;
}


h1{
    color: yellow;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr{
    text-align: center;
}
[popover] {
    background: #222;
    border: 0;
    border-bottom: 5px solid steelblue;
    color: white;
    font-family: Jost;
    font-size: 1.2rem;
    padding: 0.05rem 1.25rem;
  }